html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.main {
    width: 100%;
    height: 100%;
    background-color: #bbb;
    padding: 0 2em 4em 2em;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: CornFlowerBlue;
    width: 20%;
    height: 29%;
    margin: 2% 2.5%;
}
